.about-us#about-us
    .container
        .row.align-items-center.justify-content-center
            .col-lg-4.col-8.order-last.order-lg-first
                img.w-100(src='img/about-image.png')
            .col-lg-8.pb-lg-5.col-12
                +aboutusServices(aboutusServices)