.banner#banner 
    .container
        .row
            .col-lg-6.align-self-center
                .left-content.header-text.wow.fadeInLeft(data-wow-duration='1s' data-wow-delay='1s')
                    h5.text-uppercase Welcome to Deuce Company
                    h1 Start Making
                        br
                        span Digital Ideas 
                        |&amp; 
                        span SEO 
                        | With Us Confidently !
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida accumsan lacus vel facilisis. 
                    .input-group
                        input.border-0(type='text' placeholder='Your website URL...')
                        button Analize Site
            .col-lg-6.mt-lg-0.mt-5
                img.w-100(src='img/banner-image.png')
