.contact-us#contact-us
    .container
        .row.align-items-center
            .col-lg-6.col-12.pt-4.mt-lg-0
                h2 Feel Free To Send Us A Message About Your Website Needs
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doer ket eismod tempor incididunt ut labore et dolores
                h4 For any enquiry, Call Us: 
                    span
                        span.fa-stack.fa-1x
                            i.fas.fa-circle.fa-stack-1x.fa-2x
                            i.fas.fa-phone-alt.fa-stack-1x.center-icon
                        |010-020-0340
            .col-lg-6.col-12.mt-4.mt-lg-0
                include ../components/form
                    
