.portfolio.text-center#portfolio
    .container
        h2 See What Our Agency
            br 
            span Offers 
            |&amp; What We
            br
            span Provide
        +portfolioOffers(offers) 
            