include ../varriables/services
.services#services
    .container 
        .row.align-items-center
            .col-lg.col-12
                img.w-100(src="img/services-image.png")
            .col-lg.col-12.mt-lg-0.mt-4
                h2.text-center.text-lg-start Grow Your Website With Our 
                    br
                    span SEO 
                    |Service &amp; 
                    span Project 
                    |Ideas
                p.text-center.text-lg-start Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida accumsan lacus vel facilisisLorem ipsum.
                +skillsPercent(skills)