//- define about us services
- const aboutusServices = {}
- aboutusServices.first = {title:'Data Analysis', desc:'Lorem ipsum dolor sit amet, ctetur aoi adipiscing eliter', icon: 'fa-chart-pie'}
- aboutusServices.sec = {title:'Data Reporting', desc:'Lorem ipsum dolor sit amet, ctetur aoi adipiscing eliter', icon: 'fa-bug'}
- aboutusServices.third = {title:'Web Analytics', desc:'Lorem ipsum dolor sit amet, ctetur aoi adipiscing eliter', icon: 'fa-chart-bar'}
- aboutusServices.fourth = {title:'SEO Suggestions', desc:'Lorem ipsum dolor sit amet, ctetur aoi adipiscing eliter', icon: 'fa-sitemap'}