//- define blog news
- const blog = {main: {}, side: {}}

//- define big main blog display 
- blog.main.first = {title: 'SEO Agency & Digital Marketing', desc: 'Lorem ipsum dolor sit amet, consectetur and sed doer ket eismod tempor incididunt ut labore et dolore magna...'}
- blog.main.first.badges = {date: '24 Mar 2021', section: 'SEO'}
- blog.main.sec = {title: 'SEO Agency & Digital Marketing', desc: 'Lorem ipsum dolor sit amet, consectetur and sed doer ket eismod tempor incididunt ut labore et dolore magna...'}
- blog.main.sec.badges = {date: '24 Mar 2021', section: 'SEO'}

//- define small side blog display 
- blog.side.first = {title: 'New Websites & Backlinks', desc: 'Lorem ipsum dolor sit amsecteturii and sed doer ket eismod...', date:'18 Mar 2021'}
- blog.side.sec = {title: 'SEO Analysis & Content Ideas', desc: 'Lorem ipsum dolor sit amsecteturii and sed doer ket eismod...', date: '14 Mar 2021'}
- blog.side.third = {title: 'SEO Tips & Digital Marketing', desc: 'Lorem ipsum dolor sit amsecteturii and sed doer ket eismod...', date: '06 Mar 2021'}