//- define offers we provide
-const offers = {}
-offers.first = {title:'SEO Analysis', desc: 'Lorem ipsum dolor sit ameti ctetur aoi adipiscing eto.'}
-offers.sec = {title:'Website Reporting', desc: 'Lorem ipsum dolor sit ameti ctetur aoi adipiscing eto.'}
-offers.third = {title:'Perfomance Tests', desc: 'Lorem ipsum dolor sit ameti ctetur aoi adipiscing eto.'}
-offers.fourth = {title:'Data Analysis', desc: 'Lorem ipsum dolor sit ameti ctetur aoi adipiscing eto.'}