//- define our skills
- const skills = {}
- skills.first = {title: 'Website Analysis', percent:'90%'}
- skills.sec = {title: 'SEO Reports', percent:'80%'}
- skills.third = {title: 'Page Optimizations', percent:'85%'}
