.container 
    form.row.g-4.my-3
        .col-lg-6
            input(type='text' placeholder='Name')
        .col-lg-6
            input(type='text' placeholder='Surname')
        .col-lg-12
            input(type='email' placeholder='Your Email')
        .col-lg-12 
            textarea(placeholder='Message...')
        .button.mt-3
            button Send Message
                    