.navbar-up
    .container
        nav
            a.nav-logo(href='homepage.html')
                span D
            .nav-parent
                ul.nav-menu.list-unstyled.text-uppercase
                    li.nav-item.active
                        a.nav-link(href='#' data-scroll='#banner') Home
                    li.nav-item.mx-3
                        a.nav-link.p-0(href='#' data-scroll='#about-us') About Us
                    li.nav-item.mx-3
                        a.nav-link.p-0(href='#' data-scroll='#services') Services
                    li.nav-item.mx-3
                        a.nav-link.p-0(href='#' data-scroll='#portfolio') Portfolio
                    li.nav-item.mx-3
                        a.nav-link.p-0(href='#' data-scroll='#blog') Blog
                    li.nav-item.mx-3
                        a.nav-link.p-0(href='#' data-scroll='#contact-us') Message Us
                    .button
                        a(href='#') Contact Now
            .bars.ms-4
                span.bar
                span.bar
                span.bar                        
                    